/*----------------------------------------------------------------------------*/
/*                       __      __                  __   __                  */
/*               .-----.|  |_.--|  |.--------.---.-.|  |_|  |_                */
/*               |__ --||   _|  _  ||        |  _  ||   _|   _|               */
/*               |_____||____|_____||__|__|__|___._||____|____|               */
/*                                                                            */
/*  File      : main.css                                                      */
/*  Project   : stdmatt_blog                                                  */
/*  Date      : Nov 06, 2018                                                  */
/*  License   : GPLv3                                                         */
/*  Author    : stdmatt <stdmatt@pixelwizards.io>                             */
/*  Copyright : stdmatt - 2018 - 2022                                         */
/*                                                                            */
/*  Description :                                                             */
/*                                                                            */
/*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*/
/* Fonts                                                                      */
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
@font-face {
  font-family: "Font_Regular";
  src: url("/fonts/AlmaMono-Regular.otf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/*----------------------------------------------------------------------------*/
@font-face {
  font-family: "Font_Bold";
  src: url("/fonts/AlmaMono-Bold.otf") format("woff2");
  font-weight: bold;
  font-style:normal;
}

/*----------------------------------------------------------------------------*/
@font-face {
  font-family: "3D";
  src: url("/fonts/KidpixiesRegular-p0Z1.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/* :root {
    --background:    #0f0f1b;
    --accent_dark:   #565a75;
    --accent_medium: #c6b7be;
    --accent_bright: #fafbf6;
} */

:root {
    --background:    #20283D;
    --accent_dark:   #4E6476;
    --accent_medium: #92B4CA;
    --accent_bright: #B35EFB;


    --spacing_double: 2.0rem;
    --spacing_full:   1.0rem;
    --spacing_half:   0.5rem;

    --font_bold:    "Font_Bold",    monospace;
    --font_regular: "Font_Regular", monospace;

    --font_size_giant:  2.5rem;
    --font_size_big:    2.0rem;
    --font_size_medium: 1.5rem;
    --font_size_normal: 1.0rem;
    --font_size_small:  0.7rem;

    /* --debug-border-style: solid; */
    /* --debug-border-width: 1px; */
}



/*----------------------------------------------------------------------------*/
/* Tags                                                                       */
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
body {
    height:    100vh;
    max-width: 900px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin:          0em;
    padding:         0em;
}

/*----------------------------------------------------------------------------*/
/* Navigation Bar                                                             */
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
.nav-out {
    text-align: center;
}

/*----------------------------------------------------------------------------*/
.nav-container {
    display: inline-block;

    border-style: none none dotted;
    border-width: medium;
}

/*----------------------------------------------------------------------------*/
header {
    display: block;

    text-align:      center;
    text-decoration: underline;
}

header a {
}

/*----------------------------------------------------------------------------*/
nav {
    display:               inline-grid;
    grid-template-columns: auto auto auto;
}

nav a {
}

main {
}

main section {
    /* text-align: center; */
}

main h1 {
    display: inline-block;
}

main h2 {
    display: inline-block;
}

main li {
    margin: 1em;
}

main a {
}

/*----------------------------------------------------------------------------*/
/* About                                                                      */
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
.about-img {
}






.game-item a {
    display: block;
}

.game-item h3 {
}

.game-item h4 {
}


/*----------------------------------------------------------------------------*/
.contact-item-title {
}

/*----------------------------------------------------------------------------*/
.contact-item-subtitle {
}


/* nav :nth-child(3n - 2)::before { content: "• "; }
nav :nth-child(3n - 1)::before { content: "• "; }
nav :nth-child(3n - 1)::after  { content: " •"; }
nav :nth-child(3n - 0)::after  { content: " •"; } */