/* -------------------------------------------------------------------------- */
/* @todo(stdmatt): Thanks to fabien about the css..                           */
/*                                                                            */
/* -------------------------------------------------------------------------- */

body {
    font-family: Monospace, Courier;
    max-width: 1024px;  /* for pc */
    padding-left: 2ch;
    padding-right: 3ch;
    margin: 0 auto;
    background: rgb(255, 253, 227);
}

.post_body {
    font-family: Monospace, Courier;
    max-width: 800px;  /* for pc */
    padding-left: 2ch;
    padding-right: 3ch;
    margin: 0 auto;
    background: rgb(255, 253, 227);
}


@media (max-width: 500px) { /* For small screen decices */
    body {
        font-size: 12px;
    }
}

a {
    color: black;
    font-weight: bold;
}

img {
    border:1px solid #021a40;
}

p {
    margin-top: 0px;
    margin-bottom: 25pt;
    text-align: justify;
}

code {
    font-family: Monospace, Courier;
    background-color:  rgb(226, 224, 205);
    font-weight: bolder
}


.shadowed {
    padding: 5px;
    background-color: white;
    box-shadow: rgb(119, 119, 119) 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    border-color: #aaaaaa;
}


/* -------------------------------------------------------------------------- */
/* Project Page Things                                                        */
/* -------------------------------------------------------------------------- */
.project_item_container {
    /* background-color: red; */
    padding-bottom: 10px;
}

.project_item_box {
    display: flex;
    align-items:center;
    margin-left: 00px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
 }
