/*----------------------------------------------------------------------------*/
/*                       __      __                  __   __                  */
/*               .-----.|  |_.--|  |.--------.---.-.|  |_|  |_                */
/*               |__ --||   _|  _  ||        |  _  ||   _|   _|               */
/*               |_____||____|_____||__|__|__|___._||____|____|               */
/*                                                                            */
/*  File      : main.css                                                      */
/*  Project   : stdmatt_blog                                                  */
/*  Date      : Nov 06, 2018                                                  */
/*  License   : GPLv3                                                         */
/*  Author    : stdmatt <stdmatt@pixelwizards.io>                             */
/*  Copyright : stdmatt - 2018 - 2022                                         */
/*                                                                            */
/*  Description :                                                             */
/*                                                                            */
/*----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------*/
/* Fonts                                                                      */
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
@font-face {
  font-family: "Font_Regular";
  src: url("/fonts/AlmaMono-Regular.otf") format("woff2");
  font-weight: normal;
  font-style: normal;
}

/*----------------------------------------------------------------------------*/
@font-face {
  font-family: "Font_Bold";
  src: url("/fonts/AlmaMono-Bold.otf") format("woff2");
  font-weight: bold;
  font-style:normal;
}

/*----------------------------------------------------------------------------*/
@font-face {
  font-family: "3D";
  src: url("/fonts/KidpixiesRegular-p0Z1.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}


/*----------------------------------------------------------------------------*/
/* Tags                                                                       */
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
body {
    height:    100vh;
    max-width: 900px;
    margin:    0;

    font-family: "Font_Regular", Monospace, Courier;
}

a {
    text-decoration: none;
    font-weight:     bold;
}

/*----------------------------------------------------------------------------*/
/* General                                                                    */
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
.circle-image {
    border-radius: 50%;
    object-fit:    fill;

    border-style: solid;
    border-width: 2px;
}

/*----------------------------------------------------------------------------*/
.section-title {
    display: block;

    font-style:  "Font_Bold", Monospace, Courier;
    font-weight: bold;
    font-size:   3ch;

    text-transform: uppercase;
    text-align:     center;

    /* border-style: none none solid; */
    /* border-width: 1px; */
    /* border-color: #B560F9; */
    /* background-color: #B560F9; */
}

.section-title::before {
    content: "•[";
}

.section-title::after {
    content: "]•";
}

/*----------------------------------------------------------------------------*/
.section-subtitle {
    display: block;

    font-style:  "Font_Bold", Monospace, Courier;
    font-weight: bold;
    font-size:   2ch;

    text-transform: uppercase;
    text-align:     center;

    /* border-style: none none solid; */
    /* border-width: 1px; */
    /* border-color: #B560F9; */
    /* background-color: #B560F9; */
}

/*----------------------------------------------------------------------------*/
/* Header                                                                     */
/*----------------------------------------------------------------------------*/


/*----------------------------------------------------------------------------*/
/* Navigation Bar                                                             */
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
header {
    display: block;

    text-align:      center;
    text-decoration: underline;

    font-size: 2ch;
    font-family: "Font_Bold", Monospace, Courier;
}

/*----------------------------------------------------------------------------*/
nav {
    display: block;
    text-align: center;
    justify-content: space-between;
}

.nav-out {
    display:       block;
    width:         100%;
    text-align:    center;

    /* border-style: solid; */
    /* background-color: #FF0000; */
}

.nav-container {
    display: inline-block;

    text-transform: uppercase;

    border-style: none none dotted;
    border-width: medium;

    /* background-color: #FF00FF; */
}

/*----------------------------------------------------------------------------*/
/* About                                                                      */
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
.about-section {
    display:    block;
    text-align: center;

    border-style: solid;
    border-width: 1px;
}

.about-section ul {
    list-style-type: none;
}

/*----------------------------------------------------------------------------*/
.about-img {
    display: block;

    width:     100%;
    max-width: 200px;

    margin-left:   auto;
    margin-right:  auto;
    margin-top:    0ch;
    margin-bottom: 0ch;
}


/*----------------------------------------------------------------------------*/
/* Games                                                                      */
/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/
.games-section {
    background-color: tomato;
}

/* Game Item Container */
.game-item-container {
    display:         flex;
    flex-wrap:       wrap;
    justify-content: center;

    /* background-color: turquoise; */
}

/*----------------------------------------------------------------------------*/
/* Game Item */
.game-item {
    display:    block;
    text-align: center;

    background-color: #FF00FF;
}

/*----------------------------------------------------------------------------*/
/* @todo(stdmatt): Investigate how we can ensure circles... */
.game-item-title {
    text-transform: uppercase;
    font-weight: bolder;
}

.game-item-title::before {
    content: "• ";
}

.game-item-title::after {
    content: " •";
}

.game-item-subtitle {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1ch;
}

/*----------------------------------------------------------------------------*/
.game-item-thumb {
    display: block;

    height: 150px;
    width:  150px;

    margin-left:   auto;
    margin-right:  auto;
    margin-top:    0ch;
    margin-bottom: 1ch;
}

/*----------------------------------------------------------------------------*/
/* Contact                                                                    */
/*----------------------------------------------------------------------------*/
.contact-item {
    display:    block;
    text-align: center;

    background-color: #FF00FF;
}

/*----------------------------------------------------------------------------*/
.contact-item-title {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1ch;
}

.contact-item-title::before {
    content: "• ";
}

.contact-item-title::after {
    content: " •";
}

/*----------------------------------------------------------------------------*/
.contact-item-subtitle {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.5ch;
}