/*----------------------------------------------------------------------------*/
/*                       __      __                  __   __                  */
/*               .-----.|  |_.--|  |.--------.---.-.|  |_|  |_                */
/*               |__ --||   _|  _  ||        |  _  ||   _|   _|               */
/*               |_____||____|_____||__|__|__|___._||____|____|               */
/*                                                                            */
/*  File      : main.css                                                      */
/*  Project   : stdmatt_blog                                                  */
/*  Date      : Nov 06, 2018                                                  */
/*  License   : GPLv3                                                         */
/*  Author    : stdmatt <stdmatt@pixelwizards.io>                             */
/*  Copyright : stdmatt - 2018, 2019                                          */
/*                                                                            */
/*  Description :                                                             */
/*                                                                            */
/*----------------------------------------------------------------------------*/

/* -------------------------------------------------------------------------- */
/* @todo(stdmatt): Thanks to fabien about the css..                           */
/*                                                                            */
/* -------------------------------------------------------------------------- */
body {
    font-family: Monospace, Courier;
    font-size: 16;
    max-width: 900px;

    /* For Desktop PC (see @media for Tablets/Phones) */
    padding-left: 2ch;
    padding-right: 3ch;
    margin: 0 auto;
    background: #fffde3;
    color: #24292B;
}

hr {
    border-top: 1px solid #D7B378;
}

a {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

img {
    border: none;
}

title {
    text-transform: uppercase;
    font-weight: bold;
    display: inline;
}

section {
    text-transform: uppercase;
    font-weight: bold;
}

@media (max-width: 500px) {
    /* For small screen decices */
    body {
        font-size: 12px;
    }

    pre {
        font-size: 12px;
    }
}



/*----------------------------------------------------------------------------*/
/* Main Menu                                                                  */
/*----------------------------------------------------------------------------*/
.main_menu {
    display: inline-block;
    vertical-align:middle;
    margin-top: 20px;
    margin-bottom: 20px;
}

.main_menu div {
    text-align: justify;
    display: inline-block;
    width: 100%;
}
.main_menu a {
    text-decoration: none;
    text-transform: uppercase;
}

/*----------------------------------------------------------------------------*/
/* About                                                                      */
/*----------------------------------------------------------------------------*/
.about
{
    overflow: auto;
}

.about img {
    border: solid 1px black;
    float:right;
    margin-left: 2ch;
    margin-bottom: 1ch;
    height: 200px;
}
.about p {
    margin-top: 2ch;
    margin-bottom: 1ch;
    text-align: justify;
    /* background: cyan; */
}
.about ul {
    margin-top: -1ch;
    /* background: red; */
}

/*----------------------------------------------------------------------------*/
/* Contact                                                                    */
/*----------------------------------------------------------------------------*/
.contact
{
    overflow: auto;
}

.contact img {
    border: solid 1px black;
    float:right;
    margin-left: 2ch;
    margin-bottom: 1ch;
    height: 200px;
}
.contact p {
    margin-top: 2ch;
    margin-bottom: 1ch;
    text-align: justify;
    /* background: cyan; */
}
.contact_links ul {
    margin-top: -1ch;
    text-transform: uppercase;
    font-weight: bold;
    /* background: red; */
}
.contact_links a {
    color: black;
    font-weight: bold;
    text-transform: none;
}

/*----------------------------------------------------------------------------*/
/* Resume                                                                     */
/*----------------------------------------------------------------------------*/
.resume iframe {
    width: 100%;
    height: 1200px;
}

/*----------------------------------------------------------------------------*/
/* Project / Games                                                            */
/*----------------------------------------------------------------------------*/
.project_section
{
    /* background-color: green */

}
.project_section div:last-child {
    margin-bottom: 3ch;
}

.project_section div {
    overflow: auto;
}

.project_section section {
    text-transform: uppercase;
    font-weight: bold;
    /* background-color: red; */
}

.project_section img {
    border: solid 1px black;
    margin-bottom: 0ch;
    max-height: 200px;
    max-width: 300px;
}
.project_section  img {
    float: right;
    margin-left: 2ch;
}
/* .project_section  img {
    float: left;
    margin-right: 2ch;
} */

/* .project_section :nth-child(even) img {
    float: left;
    margin-right: 2ch;
}
.project_section :nth-child(odd) img {
    float:right;
    margin-left: 2ch;
} */

.project_section p {
    margin-top: 1ch;
    /* text-align: justify; */
    /* background-color: red; */
}
.project_section ul {
    display: block;
    float: left;

    margin-top: 0ch;
    margin-bottom: 0ch;

    padding-left: 0ch;
    /* background-color: aqua; */
}
.project_section li {
    margin-left: 2ch;
    /* background-color: red; */
}
