.thumb-container {
    display:    block;
    text-align: center;
}


.thumb-container img {
    display: block;

    width:     100%;
    max-width: fit-content;

    margin-left:  auto;
    margin-right: auto;

    object-fit:    fill;

    border-radius: 5px;
    border-style:  solid;
    border-width:  2px;

    border-color: var(--accent_medium);
}

.thumb-container-title {
    font-style:  "Font_Bold", Monospace, Courier;
    font-weight: bold;
    font-size:   2ch;

    text-align: center;
    text-transform: uppercase;
}

.thumb-container-title::before {
    content: "•";
}

.thumb-container-title::after {
    content: "•";
}


.icon-container {
    display: flex;
    justify-content: center;

    /* background-color: cyan; */
}

.icon-item {
    text-align: center;
    /* background-color: cyan; */
}
.icon-item img {
    max-width:  3ch;
    max-height: 3ch;
}

.icon-item a {
    display: block;
    padding: 0px;
    margin:  0px;
}